.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}